body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;

}
.mycanvas{
    
    width: 500px;
    height: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.ball{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 250px;
    animation: bounce 0.9s infinite;


}
@keyframes bounce{
    10%{
        height: 50px;
        width: 50px;

    }
    30%{
        height: 50px;
        width: 40px;

    }
    50%{
        height: 30px;
        width: 50px;
        transform: translatey(250px);
    }
    70%{
        height: 55px;
        width: 40px;
    }
    100%{
        transform: translateY(0px);
    }

}
.container{
    width: 0px;
    height: 0px;
    position: relative;
}
.shadow{
    background-color: rgb(122, 115, 115);
    height: 10px;
    width: 65px;
    border-radius: 50%;
    /* transform: scaleX(.5); */
    position: relative;
    top: 350px;
    left: 245px;
    z-index: -1;
    animation: shrink 0.9s infinite;
    

}
@keyframes shrink{
    50%{
        transform: scaleX(.5);

    }

}