*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372f0;

}
.wrapper{
    width: 350px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 40px 30px 50px 30px;
}
.wrapper header{
    font-size: 20px;
    font-weight: 600;
}
.wrapper form{
    margin: 40px 0;
}
form input{
    height: 50px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;

}
form input ::placeholder{
    color: #bfbfbf;
    font-size: 17px;

}


