body{
    background:pink;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ball{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(white,purple,red);
}
